body{
display: flex;
justify-content: center;


}


.black
{

    background-color: black;
}
pixel{

    
border: solid 1px;
padding: 7px;
display: flex;



}
#container{
display: flex;
flex-wrap:wrap;
border: solid 2px;

}
