body{
display: flex;
justify-content: center;
background-color: antiquewhite;


}
   
pixel{

    
border: solid 1px;
padding: 7px;
display: flex;



}
#container{
display: flex;
flex-wrap:wrap;
border: rgb(197, 160, 105) solid 2px;
border-radius: 4px;
}
.buttons,on click{
    display: flex;
    flex-direction: column;
    margin: 16px;
    
}

button{
width:  100px;
    background-color: bisque;
border: rgb(197, 160, 105) solid 2px;
border-radius: 4px;
color:rgb(128, 99, 56) ;
}


button:active{

    background-image: linear-gradient(rgb(235, 199, 150) 0 0);

}

.blck, .rgb, .reset, .size{
    margin: 8px;
}

